.App {
  text-align: center;
}

form {
  background-color: #fff8e7;
  border: 1px solid salmon;
  display: flex;
  flex-direction: column;
  width: 600px;
  height: auto;
  margin: 0 auto;
  padding: 0 1rem 1rem;
}




